# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vscode
megaphone
oldlady
out.log
.DS_Store
m01/ex00/zombiefarm
m01/ex01/zombiehorde
m00/ex02/GlobalBanksters
m01/ex02/thisisbrain
m01/ex03/unnecessaryviolence
m01/ex04/poetry.txt.replace
m01/ex04/replace
m01/ex05/karen
m01/ex06/karenFilter
m02/ex00/fixedTest
.gitignore
m02/ex01/fixedTest
